page-home {
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    .myview{
        background: rgba(228,114,32,1);
        background: -moz-linear-gradient(-45deg, rgba(228,114,32,1) 0%, rgba(122,7,24,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(228,114,32,1)), color-stop(100%, rgba(122,7,24,1)));
        background: -webkit-linear-gradient(-45deg, rgba(228,114,32,1) 0%, rgba(122,7,24,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(228,114,32,1) 0%, rgba(122,7,24,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(228,114,32,1) 0%, rgba(122,7,24,1) 100%);
        background: linear-gradient(135deg, rgba(228,114,32,1) 0%, rgba(122,7,24,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e47220', endColorstr='#7a0718', GradientType=1 );
        
    }
    .frntbtn{
        padding: 0 0.3em;
        background-color: rgba(194,139,124,0.6);
        top: -1.59rem;
        border-color: rgba(226, 192, 173, 0.64);
        color: #ffffff;
        border-bottom-left-radius: 0.925rem;
        border-bottom-right-radius: 0.925rem;
        border-width: 2px;
        font-size: 1.1rem;
    }
    .scroll-content {
        overflow: hidden;
    }
}

